* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#cep{
    width: 100%;
    max-width: 100px;
}

#rua{
    width: 300px;
}
#bairro{
    width: 300px;
}
#numero{
    width: 70px;
}

#complemento{
    width: 300px;
}
#cidade{
    width: 300px;
}
#estado{
    width: 50px;
}
main {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #555;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Estilização para exibir os campos em linha */
.flex-row {
    display: flex;
    justify-content: space-between;
}

.flex-row input {
    width: 32%;
}

#btn{
    text-align: center;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 500px) {
    .flex-row {
        flex-direction: column;
    }

    .flex-row input {
        width: 100%;
        margin-bottom: 15px;
    }
}
